<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>asyncServlet</display-name>
  <listener>
  	<listener-class>com.journaldev.servlet.async.AppContextListener</listener-class>
  </listener>
  <listener>
  	<listener-class>com.journaldev.servlet.async.AppAsyncListener</listener-class>
  </listener>
  <servlet>
 	 <servlet-name>async</servlet-name>
  	<servlet-class>com.journaldev.servlet.async.AsyncServlet</servlet-class>
  	<async-supported>true</async-supported>
  </servlet>
<servlet-mapping>
	<servlet-name>async</servlet-name>
	<url-pattern>/async</url-pattern>
</servlet-mapping>  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>